@model PointOfSaleProject.Models.ViewModel.OrganizationVM

@{
    ViewBag.Title = "Create Organization";
}
<h2>Item Category Setup</h2>

@using (Html.BeginForm("Create", "Organization", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/POSScript/Image.js"></script>
    <script src="~/Scripts/POSScript/ShowAndHide.js"></script>
}


